.container {
  margin-top: 7%;}
  
  .googleBtn {
    margin-top: 10%;
    
  }
  
  .Login {
    margin-top: 8%;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  
  h2 {
    text-align: center;
  }

